<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudentController</servlet-name>
        <servlet-class>controller.viewStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStudentController</servlet-name>
        <servlet-class>controller.editStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTeacherController</servlet-name>
        <servlet-class>controller.addTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTeacherController</servlet-name>
        <servlet-class>controller.editTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudentController</servlet-name>
        <url-pattern>/viewStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStudentController</servlet-name>
        <url-pattern>/editStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTeacherController</servlet-name>
        <url-pattern>/addTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTeacherController</servlet-name>
        <url-pattern>/editTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
